@charset "UTF-8";

html {
    font-size: 62.5%;
}

body {
    background: url("../images/bg/bg-lines.png") repeat-y center center;
    background-size: initial;
    font-size: 1.6rem;
}

.relative {
    position: relative;
}

.flex-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-column-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*
$primary-color: #0b0c11;
$secondary-color: #8f8f8f;
$color-third: rgba(93, 168, 239, 0.9);
$color-slider-my-controls-active: #5da8ef;
$color-slider-my-controls-from: #ebebeb;
$color-slider-my-controls-total: #262626;
$color-line: #78a6ec;
$color-read-more-link: #363636;
$color-title: #333333;
$color-category: #7a7a7a;
$color-price: #ce60a8;
$color-bg-img-holder: #ececec;
$color-01: #f9f9f9;

$color-white: #fff;
$color-black: #000;
*/
.subtitle {
    display: block;
    text-transform: uppercase;
    font-family: "League Spartan Bold";
    font-size: 9px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 5.4px;
    color: rgba(93, 168, 239, 0.9);
}

.title, .camp__address {
    font-family: "Playfair Display Bold";
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    color: #333333;
}

.descr-text-p, .title-descr, .slider-my-wrapper .slider-my__text, .club-description__text, .article__text {
    font-family: "Poppins Light";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.4px;
    color: rgba(97, 97, 97, 0.65);
}

.title-descr {
    margin-bottom: 35px;
}

.vertical-text, .navigation-wrapper .site-descr__content, .article__preview .article_preview-descr-content {
    font-family: "League Spartan Bold";
    font-size: 9px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    color: rgba(11, 12, 17, 0.2);
    margin: -5px 0 0 0;
    -webkit-transform: rotate(-90deg) translate(-100%, 0);
    -ms-transform: rotate(-90deg) translate(-100%, 0);
    transform: rotate(-90deg) translate(-100%, 0);
  /* чтобы контент занял ту ширину, что ему необходимо: */
    position: absolute;
    left: 0;
    top: 0;
  /* точка трансформации, относительно которой крутится объект при rotate */
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}

/*
$primary-color: #0b0c11;
$secondary-color: #8f8f8f;
$color-third: rgba(93, 168, 239, 0.9);
$color-white: #fff;
$color-black: #000;
$color-slider-my-controls-active: #5da8ef;
$color-slider-my-controls-from: #ebebeb;
$color-slider-my-controls-total: #262626;
$color-line: #78a6ec;
$color-read-more-link: #363636;
*/
.slider-my-wrapper {
    position: relative;
  /* Ниже два очень важных момента, чтобы не появлялся горизонтальный скролл. */
    width: 100%;
    overflow: hidden;
  /* Отступ после слайдера */
    padding-bottom: 95px;
  /* Обращаюсь к .owl-carousel , который имеет id="headerSlider", нахожу внутри него блок карусели .owl-stage-outer и делаю overflow: visible; Теперь мы видим тень внизу слайдера, которая раньше была скрыта. */
}

.slider-my-wrapper #headerSlider.owl-carousel .owl-stage-outer {
    overflow: visible;
}

.slider-my-wrapper .slider-my {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* Выровняем наши элементы по концу оси. */
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.slider-my-wrapper .slider-my .subtitle {
    margin-bottom: 26px;
}

.slider-my-wrapper .slider-my__descr {
      /* Ширина для текстового блока в слайдере */
    width: 500px;
    position: absolute;
    left: 0;
    top: 50%;
      /* Пододвинет блок вверх на 50% его высоты, выровняв таким образом его четко по центру. */
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider-my-wrapper .slider-my__heading {
    margin-bottom: 24px;
    padding-top: 20px;
    font-family: "Playfair Display Bold";
    font-size: 62px;
    font-weight: bold;
    line-height: 1.03;
    letter-spacing: normal;
    color: #0b0c11;
    text-shadow: 0px 3px 35px rgba(0, 0, 0, 0.39);
}

.slider-my-wrapper .slider-my__text {
    width: 390px;
}

.slider-my-wrapper .slider-my__img {
      /* Определяем точный размер картинки */
    width: 1016px;
    height: 572px;
}

.slider-my-wrapper .slider-my__img--bg-1 {
    background: url("../images/img/img-header.jpg") no-repeat center center;
    background-size: cover;
    -webkit-box-shadow: -16px 25px 65px rgba(19, 20, 24, 0.2);
    box-shadow: -16px 25px 65px rgba(19, 20, 24, 0.2);
}

.slider-my-wrapper .slider-my-controls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 9;
}

.slider-my-wrapper .slider-my-controls-number {
    font-family: "League Spartan Bold";
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
}

.slider-my-wrapper .slider-my-controls-number__active {
    color: #5da8ef;
}

.slider-my-wrapper .slider-my-controls-number__from {
    color: #ebebeb;
}

.slider-my-wrapper .slider-my-controls-number__total {
    color: #262626;
}

/*
$primary-color: #0b0c11;
$secondary-color: #8f8f8f;
$color-third: rgba(93, 168, 239, 0.9);
$color-white: #fff;
$color-black: #000;
$color-slider-my-controls-active: #5da8ef;
$color-slider-my-controls-from: #ebebeb;
$color-slider-my-controls-total: #262626;
$color-line: #78a6ec;
$color-read-more-link: #363636;
*/
.read-more-link,
a.read-more-link {
    position: relative;
    font-family: "League Spartan Bold";
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 5.4px;
    color: #363636;
  /* Зададим padding-bottom, чтобы не было пустого пространства между текстом и линией, а все вместе вело себя, как ссылка. */
    padding-bottom: 10px;
    display: inline-block;
  /* Сделаем линию подчеркивания ссылки через псевдоэлемент :after */
}

.read-more-link:after,
  a.read-more-link:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #5da8ef;
    opacity: 0.7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#78a6ec), to(#78a6ec)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: -webkit-linear-gradient(top, #78a6ec, #78a6ec), -webkit-linear-gradient(top, #fff, #fff);
    background-image: -o-linear-gradient(top, #78a6ec, #78a6ec), -o-linear-gradient(top, #fff, #fff);
    background-image: linear-gradient(to bottom, #78a6ec, #78a6ec), linear-gradient(to bottom, #fff, #fff);
    /* Делаем синюю люинию справа немного короче, чтобы не выделялся последний  letter-spacing: 5.4px; */
    margin: 0 5px 0 0;
}

/* Иконки социальных сетей */
.header-social-wrapper {
    width: 20px;
    position: absolute;
    right: -45px;
    bottom: 0;
    z-index: 11;
}

@media (max-width: 1400px) {
    .header-social-wrapper {
        right: 30px;
        bottom: 30px;
    }
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social--vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}

.social__item {
    margin-left: 15px;
    margin-right: 15px;
}

.social--vertical .social__item {
    margin-left: 0;
    margin-right: 0;
}

.social--vertical .social__item:not(:last-child) {
    margin-bottom: 35px;
}

.container {
    width: 1224px;
    margin-left: auto;
    margin-right: auto;
}

.logo-wrapper {
    margin-right: 190px;
}

.navigation-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 128px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation-wrapper .site-descr {
    position: absolute;
    /* Выносим его за контейнер */
    top: 58px;
    right: -50px;
    z-index: 10;
    /* Красный квадрат, чтобы во время верстки видно было, как споцизионирован элемент */
    /* 
    width: 12px;
    height: 12px;
    background-color: red; 
    */
}

@media (max-width: 1400px) {
    .navigation-wrapper .site-descr {
        right: 40px;
        top: 170px;
    }

    .navigation-wrapper .site-descr .site-descr__content {
        color: #fff;
    }
}

.navigation {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style-type: none;
}

.navigation__item {
    /* &:last-child {
      margin-right: 0;
    } */
}

.navigation__item:not(:last-child) {
    margin-right: 40px;
}

.navigation__link {
    text-decoration: none;
    font-family: "League Spartan Bold";
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(11, 12, 17, 0.9);
    line-height: 7.33;
    letter-spacing: 5.6px;
}

/*
$primary-color: #0b0c11;
$secondary-color: #8f8f8f;
$color-third: rgba(93, 168, 239, 0.9);
$color-white: #fff;
$color-black: #000;
$color-slider-my-controls-active: #5da8ef;
$color-slider-my-controls-from: #ebebeb;
$color-slider-my-controls-total: #262626;
$color-line: #78a6ec;
*/
.quote {
    padding-top: 95px;
    padding-bottom: 110px;
}

.quote-wrapper {
    position: relative;
    width: 610px;
    margin: 0 auto;
    text-align: center;
}

.quote-wrapper:after {
    content: "";
    width: 2px;
    height: 100px;
    background-color: #78a6ec;
    position: absolute;
    bottom: -58px;
      /* Размещаем линию точно по центру */
    left: 50%;
    -webkit-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
}

.quote__text h4 {
    margin-bottom: 30px;
    font-family: "Playfair Display Regular";
    font-size: 26px;
    font-weight: normal;
    line-height: 1.46;
    letter-spacing: 0.3px;
    color: rgba(54, 54, 54, 0.9);
}

.quote__author {
    font-family: "League Spartan Bold";
    font-size: 9px;
    font-weight: bold;
    line-height: 1.46;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    color: rgba(54, 54, 54, 0.9);
}

/*
$primary-color: #0b0c11;
$secondary-color: #8f8f8f;
$color-third: rgba(93, 168, 239, 0.9);
$color-white: #fff;
$color-black: #000;
$color-slider-my-controls-active: #5da8ef;
$color-slider-my-controls-from: #ebebeb;
$color-slider-my-controls-total: #262626;
$color-line: #78a6ec;
*/
.club-description {
    padding-top: 110px;
  /* Расстояние между секциями 190px / 2 и прописываем рядом стоящим секциям отступы по 95px */
    padding-bottom: 95px;
  /* Размещаем картинку, загловок, текст в одну flex column */
}

.club-description .club-description-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.club-description-video {
    position: absolute;
    right: 0;
    top: 43px;
    z-index: 1;
}

.club-description-video__control {
    position: absolute;
      /* по центру */
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 68px;
    height: 68px;
    -webkit-box-shadow: -2.1px -2.1px 35px 0 rgba(0, 0, 0, 0.13);
    box-shadow: -2.1px -2.1px 35px 0 rgba(0, 0, 0, 0.13);
    background-color: #78a6ec;
    border-radius: 60px;
}

.club-description-video__control img {
    position: absolute;
        /* по центру */
    top: 50%;
    left: 50%;
        /* -35% будет подходить именно для этого размера треугольнка и экрана */
    -webkit-transform: translate(-35%, -50%);
    -ms-transform: translate(-35%, -50%);
    transform: translate(-35%, -50%);
}

.club-description__text {
    margin-top: 60px;
    margin-left: 115px;
    width: 336px;
    margin-bottom: 45px;
}

.club-description__link {
    margin-left: 115px;
}

/*
$primary-color: #0b0c11;
$secondary-color: #8f8f8f;
$color-third: rgba(93, 168, 239, 0.9);
$color-slider-my-controls-active: #5da8ef;
$color-slider-my-controls-from: #ebebeb;
$color-slider-my-controls-total: #262626;
$color-line: #78a6ec;
$color-read-more-link: #363636;
$color-title: #333333;
$color-category: #7a7a7a;
$color-price: #ce60a8;
$color-bg-img-holder: #ececec;

$color-white: #fff;
$color-black: #000;
*/
.shop {
    padding-top: 95px;
    padding-bottom: 110px;
    position: relative;
}

.shop:before {
    position: absolute;
    content: "";
    top: -330px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 984px;
    z-index: -1;
    background-image: url("../images/bg/bg-water.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.shop-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 80px;
}

/* Слайдер с бордами */
.board {
    position: relative;
    width: 350px;
    height: 433px;
  /* Это блок, с четырьмя линиями текста ниже. Первая буква заголовка всегда начинается в одном и том же месте. То есть заголовок выравнивается не по правому краю. */
}

.board__img-holder {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 320px;
    background-color: #ececec;
}

.board__img {
    position: absolute;
    bottom: 10px;
    left: 50%;
    /* По X на -50%, по Y 0. Центрируем борд. */
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.board-descr {
    width: 210px;
    position: absolute;
    top: 196px;
    left: 216px;
}

.board__category {
    font-family: "Poppins Light";
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    color: #7a7a7a;
}

.board__title {
    font-family: "Playfair Display Regular";
    font-size: 26px;
    font-weight: normal;
    line-height: 1.08;
    letter-spacing: 0.3px;
    color: #333333;
}

.board-buy {
    margin-top: 38px;
    margin-left: 55px;
}

.board-buy__price {
    font-family: "Poppins Light";
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: -0.1px;
    color: #ce60a8;
    margin-bottom: 3px;
}

.board-buy__link {
    font-family: "League Spartan Bold";
    font-size: 9px;
    font-weight: bold;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    color: #333333;
    margin-left: 4px;
}

.shop-link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.article {
    padding-top: 60px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.article--odd {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.article__descr {
    width: 462px;
    padding-left: 70px;
    padding-right: 50px;
    padding-top: 80px;
}

.article-odd .article__descr {
    width: 515px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 515px;
    flex: 0 0 515px;
    padding-left: 75px;
    padding-right: 105px;
}

.article .title, .article .camp__address {
    line-height: 1.57;
    text-align: left;
    position: relative;
    margin-bottom: 35px;
}

.article .title:before, .article .camp__address:before {
    content: attr(data-number);
    font-family: "League Spartan Bold";
    font-size: 130px;
    font-weight: bold;
    line-height: 0.51;
    letter-spacing: 13px;
    color: #f9f9f9;
    position: absolute;
    left: 0;
    top: -17px;
    z-index: -1;
}

.article .title:after, .article .camp__address:after {
    content: "";
    width: 23px;
    height: 2px;
    background-color: #78a6ec;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.article__text {
    margin-bottom: 60px;
    width: 345px;
}

.article__preview {
    width: 762px;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 762px;
    flex: 0 0 762px;
    /* Изменяем его от внешнего модификатора, scss развернет & в: .article--odd .article__preview */
    /* fles: flex-grow  flex-shrink базовый размер */
}

.article--odd .article__preview {
    width: 490px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 490px;
    flex: 0 0 490px;
}

.article__preview .article_preview-descr {
      /* background-color: red;
      width: 10px;
      height: 10px; */
    position: absolute;
    right: -30px;
    top: 0;
}

@media (max-width: 1400px) {
    .article__preview .article_preview-descr {
          /* Модификатор обертка, на место & подставляется article_preview-descr */
    }
}

@media (max-width: 1400px) and (max-width: 1400px) {
    .article--even .article__preview .article_preview-descr {
        right: 40px;
        top: 30px;
    }

    .article--even .article__preview .article_preview-descr .article_preview-descr-content {
        color: #fff;
    }
}

.article--odd .article__preview .article_preview-descr {
        /* Увести ее в левую сторону на 30px за левую границу */
    left: -30px;
        /* right нужно обнулить, поэтому сделали right: auto; */
    right: auto;
}

/*
$primary-color: #0b0c11;
$secondary-color: #8f8f8f;
$color-third: rgba(93, 168, 239, 0.9);
$color-slider-my-controls-active: #5da8ef;
$color-slider-my-controls-from: #ebebeb;
$color-slider-my-controls-total: #262626;
$color-line: #78a6ec;
$color-read-more-link: #363636;
$color-title: #333333;
$color-category: #7a7a7a;
$color-price: #ce60a8;
$color-bg-img-holder: #ececec;
$color-01: #f9f9f9;

$color-white: #fff;
$color-black: #000;
*/
.subscribe-wrapper {
    position: relative;
}

.subscribe-wrapper:before {
    position: absolute;
    content: "";
    top: -405px;
    bottom: auto;
    /* Чтобы фон растягивался */
    left: 0;
    right: 0;
    width: 100%;
    height: 1335px;
    /* Через z-index вынесем назад */
    z-index: -1;
    background-image: url("../images/bg/bg-surfer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.subscribe {
    width: 590px;
    margin-top: 50px;
    padding-top: 160px;
    padding-bottom: 75px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.subscribe:before {
    position: absolute;
    content: "";
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    width: 2px;
    height: 100px;
    background-color: #78a6ec;
}

.subscribe .title, .subscribe .camp__address {
    margin-bottom: 20px;
}

.subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.subscribe__input {
    font-family: "League Spartan Bold";
    font-size: 9px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.9);
    width: 590px;
    height: 50px;
    -webkit-box-shadow: inset 0px 1px 2px 0 rgba(0, 0, 0, 0.03);
    box-shadow: inset 0px 1px 2px 0 rgba(0, 0, 0, 0.03);
    background-color: #f5f5f5;
    /* Чтобы не прыгала рамка с текстом, мы ее прописали заранее, но дали полную прозрачность 0. */
    border: 1px solid rgba(97, 97, 97, 0);
    padding-left: 30px;
    padding-right: 30px;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.subscribe__input:active, .subscribe__input:focus {
      /* Рамка с текстом, насыщенность 15% */
    border: 1px solid rgba(97, 97, 97, 0.15);
      /* Отменили синее обрамление */
    outline: none;
}

.subscribe__submit {
    width: 50px;
    height: 50px;
    background-color: #5da8ef;
    background-image: url("../images/controls/subscribe-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    /* Размер фона это реальный размер картинки стрелки initial */
    background-size: initial;
    /* Убираем текст из области видимости экрана */
    text-indent: -1000px;
    /* Убираем родную рамку */
    border: 0px none;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    /* Когда кликнуто, делаем цвет темнее на 10% */
}

.subscribe__submit:hover, .subscribe__submit:focus {
    background-color: #74b4f1;
    outline: none;
}

.subscribe__submit:active {
    background-color: #2f8fea;
    outline: none;
}

.camp {
    min-height: 475px;
    position: relative;
    margin-top: 75px;
}

.camp__img {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.camp__descr {
    width: 50%;
    padding-top: 100px;
    padding-left: 44px;
}

.camp__label {
    font-family: "League Spartan Bold";
    font-size: 9px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 5.6px;
    text-transform: uppercase;
    color: rgba(11, 12, 17, 0.27);
}

.camp__address {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 48px;
    text-align: left;
    font-size: 32px;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo-wrapper {
    margin-bottom: 40px;
}

.footer-nav-wrapper {
    margin-bottom: 40px;
}
