/*
$primary-color: #0b0c11;
$secondary-color: #8f8f8f;
$color-third: rgba(93, 168, 239, 0.9);
$color-white: #fff;
$color-black: #000;
$color-slider-my-controls-active: #5da8ef;
$color-slider-my-controls-from: #ebebeb;
$color-slider-my-controls-total: #262626;
$color-line: #78a6ec;
$color-read-more-link: #363636;
*/

.slider-my-wrapper {
  position: relative;

  .slider-my {
    position: relative;
    display: flex;
    /* Выровняем наши элементы по концу оси. */
    justify-content: flex-end;

    .subtitle {
      margin-bottom: 26px;
    }

    &__descr {
      /* Ширина для текстового блока в слайдере */
      width: 500px;
      position: absolute;
      left: 0;
      top: 50%;
      /* Пододвинет блок вверх на 50% его высоты, выровняв таким образом его четко по центру. */
      transform: translateY(-50%);
    }

    &__heading {
      margin-bottom: 24px;
      padding-top: 20px;
      font-family: $font-primary;
      font-size: 62px;
      font-weight: bold;
      line-height: 1.03;
      letter-spacing: normal;
      color: $primary-color;
      text-shadow: 0px 3px 35px rgba(0, 0, 0, 0.39);
    }

    &__text {
      width: 390px;
      @extend .descr-text-p;
    }

    &__img {
      /* Определяем точный размер картинки */
      width: 1016px;
      height: 572px;

      &--bg-1 {
        background: url("../images/img/img-header.jpg") no-repeat center center;
        background-size: cover;
        box-shadow: -16px 25px 65px rgba(19, 20, 24, 0.2);
      }
    }
  }

  .slider-my-controls {
    position: absolute;
    width: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;

    &__left {
    }

    &__right {
    }
  }

  .slider-my-controls-number {
    font-family: $font-third;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;

    letter-spacing: 1px;
    text-align: center;

    &__active {
      color: $color-slider-my-controls-active;
    }

    &__from {
      color: $color-slider-my-controls-from;
    }

    &__total {
      color: $color-slider-my-controls-total;
    }
  }
}
