/*
$primary-color: #0b0c11;
$secondary-color: #8f8f8f;
$color-third: rgba(93, 168, 239, 0.9);
$color-slider-my-controls-active: #5da8ef;
$color-slider-my-controls-from: #ebebeb;
$color-slider-my-controls-total: #262626;
$color-line: #78a6ec;
$color-read-more-link: #363636;
$color-title: #333333;
$color-category: #7a7a7a;
$color-price: #ce60a8;
$color-bg-img-holder: #ececec;
$color-01: #f9f9f9;

$color-white: #fff;
$color-black: #000;
*/

.slider-my-wrapper {
  position: relative;
  /* Ниже два очень важных момента, чтобы не появлялся горизонтальный скролл. */
  width: 100%;
  overflow: hidden;
  padding-top: 50px;
  margin-top: -50px;
  /* Отступ после слайдера */
  padding-bottom: 95px;

  /* Обращаюсь к .owl-carousel , который имеет id="headerSlider", нахожу внутри него блок карусели .owl-stage-outer и делаю overflow: visible; Теперь мы видим тень внизу слайдера, которая раньше была скрыта. */
  #headerSlider.owl-carousel .owl-stage-outer {
    overflow: visible;
  }

  .slider-my {
    position: relative;
    display: flex;
    /* Выровняем наши элементы по концу оси. */
    justify-content: flex-end;

    /* .slider-my__descr */
    &__descr {
      background-color: $color-white;
      padding: 25px 25px 10px 25px;
      min-width: 200px;
      max-width: 680px;
      position: absolute;
      // top: auto;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 20%);
      box-shadow: -16px 0px 65px rgba(11, 12, 17, 0.2);
      text-align: center;

      @media (min-width: 1254px) {
        background-color: transparent;
        box-shadow: none;
        text-align: left;
        padding: 0;
        /* Ширина для текстового блока в слайдере */
        width: 500px;
        position: absolute;
        left: 0;
        top: 50%;
        /* Теперь bottom не должен работать, сбрасываем его. */
        bottom: auto;
        /* Пододвинет блок вверх на 50% его высоты, выровняв таким образом его четко по центру. */
        transform: translateY(-50%);
      }
    }

    &__heading {
      margin-bottom: 10px;
      color: $primary-color;
      font-family: $font-primary;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.03;

      @media (min-width: 920px) {
        font-size: 42px;
      }

      @media (min-width: 1254px) {
        margin-bottom: 20px;
        padding-top: 20px;
        font-size: 62px;
        text-shadow: 0px 3px 35px rgba(0, 0, 0, 0.39);
      }
    }

    /* YOUR */
    .subtitle {
      margin-bottom: 10px;

      @media (min-width: 1254px) {
        margin-bottom: 26px;
      }
    }

    &__text {
      @extend .descr-text-p;

      @media (min-width: 992px) {
        width: 390px;
      }
    }

    &__img {
      /* Определяем точный размер картинки */
      width: 100%;
      height: 372px;

      @media (min-width: 1254px) {
        width: 1016px;
        height: 572px;
      }

      &--bg-1 {
        background: url("../images/img/img-header.jpg") no-repeat center center;
        background-size: cover;
        box-shadow: -16px 25px 65px rgba(19, 20, 24, 0.2);
      }
    }
  }

  .slider-my-controls {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    bottom: -100px;
    width: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 12;
    transform: translate(-50%);

    @media (min-width: 768px) {
      bottom: -80px;
    }

    @media (min-width: 1254px) {
      margin-top: 0;
      left: 0;
      bottom: -5px;
      transform: translate(0%);
    }

    img {
      vertical-align: top;
    }
  }

  .slider-my-controls-number {
    font-family: $font-third;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;

    letter-spacing: 1px;
    text-align: center;

    &__active {
      color: $color-slider-my-controls-active;
    }

    &__from {
      color: $color-slider-my-controls-from;
    }

    &__total {
      color: $color-slider-my-controls-total;
    }
  }
}
