/* Иконки социальных сетей */

.social-horizontal {
  margin-bottom: 30px;
}

.header-social-wrapper {
  /* Вертикальные иконки социальных сетей */
  display: none;

  @media (min-width: 1254px) {
    display: block;
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 11;
  }

  @media (min-width: 1400px) {
    right: -55px;
    bottom: 0;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Вертикальные иконки социальных сетей */
  &--vertical {
    flex-direction: column;
    width: 20px;

    margin-left: 0;
    margin-right: 0;
  }

  &__item {
    margin-left: 15px;
    margin-right: 15px;

    /* Вертикальные иконки социальных сетей */
    .social--vertical & {
      margin-left: 0;
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }
}
