/* Иконки социальных сетей */

.header-social-wrapper {
  width: 20px;
  position: absolute;
  right: -45px;
  bottom: 0;

  @media (max-width: 1400px) {
    right: 30px;
    bottom: 30px;
  }
}

.social {
  display: flex;
  justify-content: center;

  &--vertical {
    flex-direction: column;
    width: 20px;
    align-items: center;

    margin-left: 0;
    margin-right: 0;
  }

  &__item {
    margin-left: 15px;
    margin-right: 15px;

    .social--vertical & {
      margin-left: 0;
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }
}
