.subtitle {
  display: block;
  text-transform: uppercase;
  font-family: $font-third;
  font-size: 9px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 5.4px;
  color: $color-third;
}