html {
  // This defines what 1rem is. 62.5% = 10px, 1rem = 10px;
  font-size: 62.5%;
}

body {
  background: url("../images/bg/bg-lines.png") repeat-y center center;
  background-size: initial;
  font-size: 1.6rem;

  // На время разработки:
  // margin-bottom: 500px;
}

.relative {
  position: relative;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}
