// Colors
$primary-color: #0b0c11;
$secondary-color: #8f8f8f;
$color-third: rgba(93, 168, 239, 0.9);
$color-slider-my-controls-active: #5da8ef;
$color-slider-my-controls-from: #ebebeb;
$color-slider-my-controls-total: #262626;
$color-line: #78a6ec;
$color-read-more-link: #363636;
$color-title: #333333;
$color-category: #7a7a7a;
$color-price: #ce60a8;
$color-bg-img-holder: #ececec;

$color-white: #fff;
$color-black: #000;

// Fonts
$font-primary: 'Playfair Display Bold';
$font-secondary: 'Playfair Display Regular';
$font-third: 'League Spartan Bold';
$font-fourth: 'Fira Sans Regular';
$font-fifth: 'Poppins Light';