// Colors
$primary-color: #0b0c11;
$secondary-color: #8f8f8f;
$color-third: rgba(93, 168, 239, 0.9);
$color-white: #fff;
$color-black: #000;
$color-slider-my-controls-active: #5da8ef;
$color-slider-my-controls-from: #ebebeb;
$color-slider-my-controls-total: #262626;

// Fonts
$font-primary: 'Playfair Display Bold';
$font-secondary: 'Playfair Display Regular';
$font-third: 'League Spartan Bold';
$font-fourth: 'Fira Sans Regular';
$font-fifth: 'Poppins Light';