.bg {  
  height: 100vh;
  background: url('../images/img/img-header.jpg') no-repeat center center;  
  background-size: cover;  
}

h1 {
  padding-top: 20px;
  font-family: 'Playfair Display Bold';
  text-shadow: 0px 3px 35px rgb(223, 230, 241); 
  font-size: 40px;
  font-weight: bold; 
  line-height: 1.03;
  letter-spacing: normal;
  text-align: center;
  color: rgba(233, 251, 255, 0.75);
}